<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-4 border-0 shadow-sm">
                <div class="card-body">
                    <h3>All Todos 35:30</h3>
                    <app-todo-view></app-todo-view>
                    <app-todo-view></app-todo-view>
                    <app-todo-view></app-todo-view>
                    <app-todo-view></app-todo-view>
                    <app-todo-view></app-todo-view>
                </div>
            </div>
        </div>
    </div>
</div>